<!-- Main Content -->
<div id="content">

    {% if books %}

    <div class="d-flex flex-column ">
        {% for book in books.items %}

        <div class="card">

            {{ book }}

            {% for chapter in book %}

            <div class="li offset-1">

                {{ chapter }}

            </div>

            {% endfor %}

        </div>

        {% endfor%}

    </div>

    {% else %}
    <div>
        {{flatpage.content}}
    </div>
    {% endif %}

</div>
<!-- End of Main Content -->