h1, h2, h3, h4, h5, h6 {
	color:#333333;
	text-decoration:none;
	padding:0px;
	margin: 0px;
}

h1 {
	font-family: "Ovo", Sans-serif;
	font-size: 56px;
}

h2 {
	font-family: "Andalus", Sans-serif;
	font-size: 30px;
}

h3 {
	font-family: "Ovo", Sans-serif;
	font-size: 36px;
}

h4 {
	font-family: "Ovo", Sans-serif;
	font-size: 26px;
}

h5 {
	font-family: "Mage Script", Sans-serif;
	font-size: 36px;
}

h6 {
	font-family: "Moon Rune", Sans-serif;
	font-size: 36px;
}

img.alignleft {
	float: left;
	padding-right: 30px
}

body {
	font-family: "Ovo", Sans-serif;
	font-size: 20px;
	color: #000000;
	margin-left: 2%;
    	margin-right: 2%;
    	margin-top: 2%;
    	margin-bottom: 2%
    	padding: 5%
}

a {
	color: #3366aa;
}
